// variaveis
$cor1: #fff;
$cor2: #f8465c;
$cor3: #222;
$cor4: #13e7ce;
$largura-max: 1200px;

// mixins
@mixin apenasleitura() {
	position: absolute !important; /* Outside the DOM flow */
    height: 1px; width: 1px; /* Nearly collapsed */
    overflow: hidden;
    clip: rect(1px 1px 1px 1px); /* IE 7+ only support clip without commas */
    clip: rect(1px, 1px, 1px, 1px); /* All other browsers */
}

// container
.container {
	width: 100%;
	max-width: $largura-max;
	margin: 0 auto;
	display: block;
	position: relative;
}

// fontes
@font-face {
  font-family: 'Tiresias Infofont';
  src: url('../fonts/TiresiasInfofont.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/TiresiasInfofont.woff') format('woff'), 
	   url('../fonts/TiresiasInfofont.ttf')  format('truetype'), 
	   url('../fonts/TiresiasInfofont.svg#TiresiasInfofont') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Tiresias Infofont';
  src: url('../fonts/TiresiasInfofontItalic.eot?#iefix') format('embedded-opentype'),  
	   url('../fonts/TiresiasInfofontItalic.woff') format('woff'), 
	   url('../fonts/TiresiasInfofontItalic.ttf')  format('truetype'), 
	   url('../fonts/TiresiasInfofontItalic.svg#TiresiasInfofontItalic') format('svg');
  font-weight: normal;
  font-style: italic;
}

#svg-definitions{
	display: none;
}

// titulos
h2, h3, h4, h5 {
	margin-top: 0;
	font-family: 'Tiresias Infofont';
	text-transform: uppercase;

	article & {margin-top: 70px;}
	article > & {padding: 0 15px;}
	.area-texto article > & {padding: 0}
}

h2 {color: $cor2; font-size: 1.8em;}


// links
a, a:link, a:visited, a:active {
	color: $cor2;
	text-decoration: none;

	&:hover {text-decoration: underline;}
}


// videos
video { width: 100%; }


// tabelas
table {
	width: 100%;
	min-width: 768px;
	border: 1px solid $cor3;
	border-bottom: 0;
	overflow-x: auto;

	caption {
		text-align: left; 
		font-size: 0.9em;
		font-style: italic;
		padding: 15px; 
	}

	th, td {
		border-bottom: 1px solid $cor3;
		border-right: 1px solid $cor3;
		padding: 15px;
	}

	tr td:last-of-type,
	thead th:last-of-type {border-right: 0}
}


// linha
hr {
	outline: 0;
	border-top: 2px dashed $cor2;
	margin: 70px auto;
	display: block;
	width: 100%;
}


// imagens
img {max-width: 100%; height: auto;}


// paragrafos
p {margin: 2em 0 0 0;}


// quotes
blockquote {
	margin-right: 0;
	margin-left: 70px;
	font-size: 0.9em;
}