@media (max-width: 1024px) {
  body {font-size: 18px}

  .grid > div {
    padding-top: 150px;
  }

  .fullgrid {
    padding-top: 125px;
  }


  .sessao {
    &.texto-video {
      .grid > div {
        &.area-video {
          &:after, &:before {
            background-size: 95px; 
            height: 110px;
          }
        }
      }
    }
  }

}



@media (max-width: 800px) {

}



@media (max-width: 768px) {
  header {
    &.cabecalho:after {
      position: absolute;
      left: 0;
      bottom: -1px;
      content: "";
      width: 100%;
      display: block;
      height: 90px;
      background: $cor1 url('../img/pattern.png') repeat-x center top / 76px;
    }

    &.cabecalho-interno:after {
      height: 45px;
      background-size: 76px;
    }
  }


  .grid > div {
    padding-top: 50px;
    padding-bottom: 50px;

      &.area-texto {padding-right: 15px; width: 100%;}
      &.area-video {padding-left: 15px; width: 100%;}
  }

  .fullgrid {
    padding-top: 50px;
    padding-bottom: 50px;
  }


  .sessao {
    &.texto-video {
      .grid > div {
        &.area-video {
          &:after,&:before {display: none;}
          &.detalhe-inferior:after {display: none;}
        }
      }
    }
  }

  button.deslizar {display: none;}


  div.area-video .video {
    margin-top: 0;
    &:before, &:after {display: none;}

    .sessao.texto-video:nth-of-type(1) .grid > & {
        &:before, &:after {display: none}
    } 
  }

  .maisconteudo a {display: block; width: 100%;
    &.saibamais {
      margin-top: 20px;
      &:before {
        font-family: 'fontello';
          content: '\e804';
          display: inline-block;
          font-style: normal;
        margin-right: 8px;
      }

      &:after {display: none;}
    }
  }


  .separador .container {
    & > div {
      height: 180px;

      .linha {width: 2px;}
      .simbolo { width: 60px; height: 60px; }

      &:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(5) {
        .linha {height: 70px}
        .simbolo {top: 103px; left: calc(50% - 22px); }
      }

      &:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6) {
        .linha {height: 91px}
        .simbolo {top: 76px; left: calc(50% - 39px); }
      }
    }
  }


  footer.rodape .container {
    .logos {
      width: 100%; 
      @include justify-content(space-around);

      img {margin: 20px 10px 0; width: auto; max-height: 60px;}
    }

    .ficha {
      width: 100%;
      height: auto;
      margin-top: 40px;

      &:after {display: none;}

      &:before {
        width: 55px; height: 2px;
        border-color: $cor1;
        left: 50%;
        @include transform(translateX(-50%));
      }

      a {
        padding: 10px 0 0 0;
        font-size: 1.5em;
        text-transform: capitalize;
        text-align: center;
        width: 100%;
        height: auto;

        span {display: inline-block; font-size: 1em;}
      }

      &:hover {
        &:after {display: none;}
        &:before {
          width: 55px; height: 2px;
          border-color: $cor1;
          left: 50%;
          @include transform(translateX(-50%));
        }

      }
    }
  }

}


@media (max-width: 480px) {
  body {font-size: 16px}

  .grid > div, .fullgrid {
    padding: 35px 15px;
  }

  .separador .container {
    & > div {
      width: 20%;

      &:nth-of-type(6) {display: none;}
    }
  }

}



@media (max-width: 380px) {
  .separador .container {
    & > div {
      width: 25%;

      &:nth-of-type(5) {display: none;}
    }
  }
}