@charset "UTF-8";

@import 'normalize';
@import 'bourbon/bourbon';
@import 'padroes';
@import 'icons';
@import 'input_range';

@import 'device-simulation';

body {
	font-size: 20px;
	line-height: 1.5;
	font-family: 'Roboto',sans-serif;
	color: $cor3;
	text-rendering: optimizeLegibility;
	hyphens: auto;
}

html, body {overflow-x: hidden}

// cabecalho
header {
	background: $cor2;
	display: block;
	position: relative;
	color: $cor1;

	// cabecalho principal
	&.cabecalho {
		padding-bottom: 100px;

		.container {
			text-align: center;

			img, svg {
				max-width: 82%;
				margin: 0 auto;
				display: block;
				height: inherit;
			}

			h1 {position: absolute; @include apenasleitura;}
		}
	}

	// cabecalho textos internos
	&.cabecalho-interno {
		margin-bottom: 50px;

		.container {
			padding: 30px 10px;
			@include display(flex);
			@include flex-direction(column);

			nav {
				width: 100%; position: relative;
				@include order(1);
			    @include display(flex);
			    @include flex-direction(row);
			    @include justify-content(space-between);
			    @include align-items(center);

			    div.linha{
			    	width: 50%;
			    	height: 0px;
			    	border-top: 2px dashed $cor1; 
			    }

				a {
					@include flex-shrink(0);
					width: 40px;
					height: 40px;
					background: $cor2;
					display: block;
					position: relative;
					border-radius: 50%; 

					span {@include apenasleitura; position: absolute;}

					&:before {
						font-family: 'fontello';
						line-height: 40px;
						text-align: center;
						font-size: 39px;
						color: $cor1;
						display: block;
						@include transition(color 0.3s ease-in-out);
					}

					&.anterior:before {content: '\e801'}
					&.proximo:before {content: '\e800'}

					&.inicio {
						width: 70px; height: 70px;
						border: 2px dashed $cor1;
						position: relative;

						&:before {display: none;}

						img {
							width: 45px; height: 45px;
							position: absolute; top: 50%; left: 50%;
							@include transform(translate(-50%,-50%));
						}
					}

					&:hover {
						text-decoration: none;
						&:before {color: $cor3}
					}

					&.esconde {visibility: hidden;
						&:before {display: none;}
					}
				}
			}

			h1 {
				@include order(2);
				text-align: center;
				text-transform: uppercase;
				font-size: 2.2em;
			}
		}

		&:after {
	      content: "";
	      width: 100%;
	      display: block;
	      height: 90px;
	      background: $cor1 url('../img/pattern.png') repeat-x center bottom / 145px;
	    }
	}
}




// grid de colunas
.grid {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);

    & > div {
    	width: 50%;
    	padding: 200px 15px 35px;
    	position: relative;
    	@include transition(width 0.3s ease-in-out);


    	&.area-texto {padding-right: 70px; width: 60%;}
    	&.area-video { padding-left: 70px; width: 40%}

    	article {z-index: 2; position: relative;}
    }

    .video-destacado & > div {
    	&.area-texto {width: 40%;}
    	&.area-video {width: 60%}
    }
}


.fullgrid {
	padding: 70px 15px 35px ;
}



// sessoes
.sessao {
	&.texto-video {
		@include linear-gradient(90deg, $cor1 0%, $cor1 50%, $cor2 50%, $cor2 100%);
		overflow: hidden;

		.grid {
			& > div {
				&.area-texto {background: $cor1;}
				&.area-video {background: $cor2;
					&:before, &:after {
						width: 200vw;
						height: 200px;
						position: absolute;
						content: " ";
						background-color: $cor1;
						background-image: url('../img/pattern3.png');
						background-repeat: repeat-x;
						background-size: 145px;
						z-index: 0;
					}
					&:before {
						top: -5px;
						left: -200vw;
						background-position: right top;
						// @include transform(rotateY(180deg));
						
					}

					&:after {
						display: none;
						bottom: -5px;
						left: 0;
						background-position: left top;
						// @include transform(rotateY(180deg));
					}

					&.detalhe-inferior:after {display: block;}
					&.detalhe-superior:before {display: none;}
				}
			}
		}

	}

	&.branco {background: $cor1;}
	&.vermelho {background: $cor2;}
}

@-moz-document url-prefix() {
	.sessao.texto-video .grid > div.area-video {
		&:before {left: calc(-200vw + 1px)}
		&:after {left: -1px;}
	}
}



// texto interno
.sessao.texto-interno {
    article {
		@include display(flex);
	    @include flex-direction(row);
	    @include flex-wrap(wrap);
	    @include justify-content(flex-end);
	    width: 100%;
	    max-width: $largura-max;
	    margin: 0 auto;

	    .conteudo {
	    	width: 100%;
	    	max-width: $largura-max * 0.6;
	    	padding: 0 15px;

	    	a {word-wrap: break-word;}

	    }

	    & > h2 {width: 100%; text-align: left;}

	    .slider-txt, .slider-img {
	    	width: 100%;
	    	// max-width: $largura-max * 0.6;
	    	margin: 0 auto;
	    	padding: 20px;
	    	border-radius: 20px;
	    	background: $cor1;

	    	.controls{
	    		@include display(flex);
	    		@include justify-content(center);
	    		*:not(:last-child){
	    			margin-right: 10px;
	    		}		
	    	}

	    	p.contagem{
	    		// font-size: 24px;
	    		// font-weight: bold;
	    		@include flex-shrink(0);
	    		color: white;
	    		background-color: $cor2;
	    		height: 40px;
	    		border-radius: 24px;
	    		padding: 0 24px;
	    		margin-top: 0;
	    		margin-bottom: 0;
	    		line-height: 40px;
	    		vertical-align: middle;
	    		span.sr{
	    			@include apenasleitura();

	    		}
	    	}

	    	button{
	    		position: relative;
	    		width: 36px;
	    		height: 36px;
	    		padding: 0; margin: 0;
	    		line-height: 32px;
	    		background: $cor1;
	    		color: $cor2;
	    		// overflow: hidden;
	    		outline: 0;
	    		border: 0;
	    		font-size: 36px;
	    		border-radius: 50%;
	    		cursor: pointer;
	    		vertical-align: middle;
	    		@include transition(color 0.3s ease-in-out);

	    		&:before {
	    			font-family: 'fontello';
	    		}

	    		&:after {
	    			content: ""; position: absolute; border-radius: 50%;
	    			width: 38px; height: 38px; top: 50%; left: 50%; 
	    			@include transform(translate(-50%,-50%));
	    			border: 3px solid $cor2;
	    		}

	    		
	    		&.anterior{
	    			&:before{
	    				content: '\e801';
	    			}
	    		}
	    		&.proximo{
	    			&:before{
	    				content: '\e800';
	    			}
	    		}

	    		&:not([disabled]){
	    			&:hover, &:active, &:focus {color: $cor3}
	    		}

	    		&[disabled]{
	    			color: $cor1;
	    			background: $cor2;
	    		}
	    	}
	    }

	    

	    .slider-txt{
	    	@include display(flex);
	    	@include flex-wrap(wrap);
	    	@include flex-direction(column);
	    	// @include align-items(center);
	    	@include justify-content(center);
	    	position: relative;
	    	// padding: 0 15px;
	    	margin-bottom: 20px;
	    	border: 2px solid $cor2;
	    	border-bottom-width: 12px;

	    	p.cont-texto{
	    		width: 100%;
	    		// font-size: 22px;
	    		text-align: justify;

	    	}

	    	div.slider-items{
	    		width: 100%;
	    		overflow: hidden;
	    		& > div.scroller{
    				@include transition(transform 0.1s ease-out);
    				width: auto;
    				display: block;
    				padding: 20px 0;
	    			white-space: nowrap;
	    			& > p{
	    				margin: 0;
	    				vertical-align: middle;
	    				display: inline-block;
	    				width: 100%;
	    				white-space: normal;
	    			}
	    		}
	    		
	    	}

    		
	    }

	    .slider-img{
	    	padding: 0;
	    	margin: 2em 0;
	    	@include display(flex);
	    	@include flex-wrap(wrap);
	    	@include flex-direction(column);
	    	@include align-items(center);
	    	@include justify-content(center);

	    	// essa div abaixo serve para compensar a perda de altura que o slider sofre depois que alguns dos elementos ficam fixos.

	    	div.ajuste-altura{
	    		display: none;
	    		width: 100%;
	    		margin: 0;
	    		padding: 0;
	    	}

	    	div.slider-items{
	    		width: 100%;
	    		overflow: hidden;
	    		& > div.scroller{
    				@include transition(transform 0.3s ease-out);
    				width: auto;
    				display: block;
    				padding: 20px 0;
	    			white-space: nowrap;
	    			& > figure{
	    				margin: 0;
	    				vertical-align: bottom;
	    				display: inline-block;
	    				width: 100%;
	    				white-space: normal;
	    				figcaption{
				    		// padding: 0 15px;
	    					
	    				}
	    			}
	    		}
	    		
	    	}

	    	div.controls{
	    		padding: 0 15px;
	    		&.bt-imgs{
	    			width: 720px;
	    			max-width: 100%;
	    		}
	    	}

	    	@media screen and (min-width: 768px){

	    		div.ajuste-altura.ativo{
	    			display: block;
	    		}

	    		p.contagem.fixo{
	    			position: fixed;
	    			top: 10px;
	    			left: 50%;
	    			@include transform(translateX(-50%));
	    			z-index: 2;

	    		}

	    		div.controls.bt-imgs.fixo{
	    			position: fixed;
	    			bottom: 0;
	    			left: 50%;
	    			@include transform(translateX(-50%));
	    			background-color: white;
	    			padding: 10px;
	    		}
	    	}
	    }

	    &.ficha {
	    	@include justify-content(space-between);

	    	.folha-rosto, .coluna{
	            padding: 0 15px;
	    	}

	    	.folha-rosto { width: 100% }

	    	& > div.coluna {
	    		width: 48%;
	    		dl{
	    			dt{
	    				margin-top: 2em;
	    				font-weight: bold;
	    			}
	    			dd{
	    				margin: 0;
	    			}
	    		}
	    	}
	    }
    }
}


// config visual de video
div.area-video .wrap-video {
	margin-top: 50px;
	width: 100%;
	display: block;
	position: relative;
	z-index: 1;

	&:before, &:after {
		content: '';
		@include transform(translateX(-50%));
		left: 50%;
		position: absolute;
		display: none;
	}

	&:before {
		width: 2px;
		border-right: 2px dashed $cor1;
		top: -110px;
		height: 120px;
	}

	&:after {
		background: $cor2 url('../img/icone-libras.png') no-repeat center center / 60%;
		border: 2px solid $cor1;
		position: absolute;
		top: -120px;
		width: 80px;
		height: 80px;
		color: $cor1;
		border-radius: 50%;
	}

	.sessao.texto-video:nth-of-type(1) .grid > & {
		&:before, &:after {display: block}
	}	

	.video {
		position: relative;
		display: block;

		&:before {
			content: "";
			width: 20%;
			height: 0;
			padding-bottom: 20%;
			background: url('../img/borda-video.svg') no-repeat center center / 110%;
			@include transform(scale(-1,-1));
			position: absolute;
			top: -2px;
			left: -2px;
			z-index: 1;
			display: block;
		}
	}
}


// links de acesso para conteudo internos
.maisconteudo {
	margin-top: 70px;
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);
    font-style: italic;

	a {display: inline-block;}

    a.continuar {
    	font-size: 1.1em;

    	&:before {
    		font-family: 'fontello';
    		content: '\e800';
    		display: inline-block;
    		font-style: normal;
			margin-right: 8px;
    	}
    }	

    a.saibamais {
    	color: $cor3;
    	font-size: 0.95em;

    	&:after {
			font-family: 'fontello';
    		content: '\e804';
    		display: inline-block;
    		font-style: normal;
			margin-left: 8px;
    	}
    }

	.video-destacado .grid .area-texto & {
		a {display: block; width: 100%;}
		a.saibamais {
			margin-top: 20px;
			&:before {
				font-family: 'fontello';
	    		content: '\e804';
	    		display: inline-block;
	    		font-style: normal;
				margin-right: 8px;
			}

			&:after {display: none;}
		}
	}
}


// botao aumentar video
button.deslizar {
	width: 66px;
	padding: 0; margin: 0;
	height: 66px;
	line-height: 63px;
	background: $cor1;
	color: $cor2;
	position: absolute;
	// overflow: hidden;
	outline: 0;
	border: 0;
	font-size: 66px;
	border-radius: 50%;
	cursor: pointer;
	top: 380px;
	left: 0;
	@include transform(translateX(-50%));
	@include transition(color 0.3s ease-in-out);

	&:hover, &:active, &:focus {color: $cor3}

	&:before {
		content: '\e801';
		font-family: 'fontello';
	}

	&:after {
		content: ""; position: absolute; border-radius: 50%;
		width: 70px; height: 70px; top: 50%; left: 50%; 
		@include transform(translate(-50%,-50%));
		border: 6px solid $cor2;
	}


	.video-destacado .grid .area-video &:before {content: '\e800';}
}



// separador animado
.separador {
	width: 100%;

	.container {
	    @include display(flex);
	    @include flex-direction(row);
	    @include flex-wrap(wrap);
	    @include justify-content(space-between);

		& > div {
		    width: 16.6666666667%;
		    position: relative;
		    height: 250px;

			.linha {
				background: $cor2;
				bottom: -20px;
				left: 50%;
				@include transform(translateX(-50%));
				position: absolute;
				width: 3px; 
				display: block;
			}

			.simbolo {
				width: 100px; height: 100px;
				position: absolute;
				background: url('../img/simbolo.svg') no-repeat center center / contain;
				@include animation(animaCatavento 6s linear infinite);
			}

			@include keyframes(animaCatavento) {
				from {
					@include transform(rotate(0deg));
				}
				to {
					@include transform(rotate(-360deg));
				}
			}

			&:nth-of-type(1), &:nth-of-type(3), &:nth-of-type(5) {
				.linha {@include transform(rotate(13deg)); height: 100px}
				.simbolo {
					top: 121px;
					left: calc(50% - 38px);
					@include animation-duration(3s);
				}
			}

			&:nth-of-type(2), &:nth-of-type(4), &:nth-of-type(6) {
				.linha {@include transform(rotate(-13deg)); height: 190px}
				.simbolo {
					top: 33px;
					left: calc(50% - 70px);
				}
			}
		}
	}

	&:after {
		content: "";
		width: 100%;
		display: block;
		height: 50px;
		background: $cor2;
	}
}


// titulo de saiba mais
.saiba-mais {
	width: 100%;
	background: $cor3;
	display: block;
	text-align: center !important;
	line-height: 1;
	color: $cor1;
	margin: 50px 0;
	position: relative;

	&:before, &:after {
		content: ""; width: 200vw;
		@include transform(translateX(-50%));
	}

	&:before {
		position: absolute;
		top: 0; left: 50%;
		height: 100%;
		background: $cor3;
	}

	&:after {
      display: block;
      height: 90px;
      background: $cor1 url('../img/pattern2.png') repeat-x center bottom / 145px;
    }

	span {
		position: relative;
		display: block;
		z-index: 1;
		padding: 50px 0 30px;
		
		// &:before, &:after {
		// 	content: '\e804';
		// 	font-family: 'fontello';
		// 	display: inline-block;
		// 	vertical-align: middle;
		// 	font-size: 1em;
		// 	margin: 0 20px;
		// }

	}
}


// tabelas
.tabela {
	margin: 25px 0;
	width: 100%;
	overflow-x: auto;
}



// sliders
.slider-img {
	margin: 20px 0;
	width: 100%;

	img {width: 100%; height: auto;}
}


// rodape home
footer {
	width: 100%;
	background: $cor2;
	color: $cor1;
	display: block;
	position: relative;

	.container {
	    @include display(flex);
	    @include flex-direction(row);
	    @include flex-wrap(wrap);
	    @include justify-content(space-between);
	    padding: 0 20px;
	}

	// rodape pagina inicial
	&.rodape {
		padding-bottom: 50px;

		.container {
		    .logos {
			    @include display(flex);
			    @include flex-direction(row);
			    @include flex-wrap(wrap);
			    @include justify-content(flex-start);
			    @include align-items(flex-start);
			    padding: 0 10px;
			    width: calc(100% - 130px);

			    img {
			    	display: block;
			    	margin: 0 10px;

			    	&:nth-of-type(4), &:nth-of-type(5) {@include align-self(center);}
			    	&:nth-of-type(4) {margin-bottom: 12px;}
			    }
		    }	

		    .ficha {
		    	// outline: 1px solid; 
		    	position: relative;
		    	border: 2px dashed $cor2;
		    	cursor: pointer;
		    	width: 130px;
		    	height: 110px;

				a {
					font-size: 25px; 
					padding: 20px;
					text-transform: lowercase;
					color: $cor1;
					display: block;
					line-height: 1;
					position: relative;
					z-index: 2;
					width: 126px; height: 106px;

					&:hover {text-decoration: none;}

					span {font-size: 26px; text-transform: uppercase; display: block; margin-top: 10px}
				}

				&:before, &:after {
					content: "";
					width: 55px;
					height: 55px;
					position: absolute;
					display: block;
					border: 2px dashed $cor1;
					@include transition(width 0.3s ease-in-out, height 0.3s ease-in-out);
					z-index: 1;
				}

				&:before {
					border-bottom: none;
					border-right: none;
					top: 0; left: 0;
					width: 0; height: 0;
					border-color: $cor2;
				}

				&:after {
					border-top: none;
					border-left: none;
					bottom: 0; right: 0;
				}

				&:hover {
					&:before, &:after {border-color: $cor1; width: 126px; height: 106px;}
				}
		    }
		}
	}

	&.rodape-interno {
		// padding-top: 50px;
		padding-bottom: 50px;

		.navegacao {
			width: 100%; position: relative;
		    @include display(flex);
		    @include flex-direction(row);
		    @include justify-content(space-between);
		    @include align-items(center);

		    div.linha{
		    	width: 50%;
		    	height: 0px;
		    	border-top: 2px dashed $cor1; 
		    }

			a {
				@include flex-shrink(0);
				width: 40px;
				height: 40px;
				background: $cor2;
				display: block;
				position: relative;
				border-radius: 50%; 

				span {@include apenasleitura; position: absolute;}

				&:before {
					font-family: 'fontello';
					line-height: 40px;
					text-align: center;
					font-size: 39px;
					color: $cor1;
					display: block;
					@include transition(color 0.3s ease-in-out);
				}

				&.anterior:before {content: '\e801'}
				&.proximo:before {content: '\e800'}

				&.inicio {
					width: 70px; height: 70px;
					border: 2px dashed $cor1;
					position: relative;

					&:before {display: none;}

					img {
						width: 45px; height: 45px;
						position: absolute; top: 50%; left: 50%;
						@include transform(translate(-50%,-50%));
					}
				}

				&:hover {
					text-decoration: none;
					&:before {color: $cor3}
				}

				&.esconde {visibility: hidden;
					&:before {display: none;}
				}
			}
		}
	}
}


// paginacao
.pagina {
	color: #585858;;
	margin: 5px 0 0 0;
	font-size: 0.7em;
	display: block;
	width: 100%;
	text-align: right;
	position: relative;
	border-top: 1px dashed #585858;

	&:first-of-type {border: 0;}
	& + * {margin-top: 7px;}
}



// ficha catalografica
.ficha-catalografica {
    @include display(flex);
    @include flex-direction(row);
    @include flex-wrap(wrap);
    @include justify-content(space-between);	
    width: 65%;
    margin: 0 auto 150px;

	div p {margin: 0}
	div:nth-of-type(1) {width: 100%; margin-bottom: 15px;}
	div:nth-of-type(2) {width: 70px;}
	div:nth-of-type(3) {width: calc(100% - 70px)}
}


// RESPONSIVO
@import 'responsivo';